# Default code owner for all files (except specified exceptions)
* @edcheyjr

# Exclude composer.json and composer.lock from code owner requirement
!/composer.json @edcheyjr
!/composer.lock @edcheyjr

# Exclude .env from code owner requirement (usually contains sensitive information)
!/.env @edcheyjr

# Exclude public/js and public/css directories from code owner requirement
/public/js/* @edcheyjr
/public/css/* @edcheyjr
